
<div id="content">

<div class="container main-content">

<br>
<h1 class="sg-page-title">
Indigo
Experiences
</h1>
<div class="btn btn-primary" id="fav_toggle">Only show favorites</div>
<div class="clearfix"></div>
<br>
<div class="container offerings">

<% @activities.each do |activity| %>
<div class="offering" id="offering_<%=activity.id%>">
<div class="img" style="background-image: url(<%= activity.img_url%>);"></div>
<% if favorited?(activity.id) %>
	<div class="favorited"><h3>FAVORITED</h3></div>
<% else %>
	<div class="not_favorite"><h3>FAVORITE</h3></div>
<% end %>
<div class="info sg-img-caption">
<h3 class="name"><a href="<%=activity.offer_url%>" class="txt"><%= activity.caption %></a></h3>
</div>
</div>
<% end %>

<script>
var userId = <%= current_user.id %>;
$('.not_favorite h3, .favorited h3').click(function(event) {
	$target = $(event.target);
	var activityId = $target.parent().parent().attr("id").slice(-1);
	$target.parent().toggleClass('not_favorite favorited');
	toggleFavorite(activityId, userId);
	if ($target.text() === "FAVORITE") {
		$target.text("FAVORITED");
	} else {
		$target.text("FAVORITE");
	}
});

$('#fav_toggle').click(function(event) {
	$target = $(event.target);
	displayFavorites();
	if ($target.text() === "Show all activities") {
		$target.text("Only show favorites");
	} else {
		$target.text("Show all activities");		
	}
});
</script>
